<!--contact start-->
{% load static %}
		<footer id="contact"  class="contact">
			<div class="container">
				<div class="footer-top">
					<div class="row">
						<div class="col-md-3 col-sm-6">
							<div class="single-footer-widget">
								<div class="footer-logo">
									<a href="index.html">LUXESHARE</a>
								</div>
								<p>
									Welcome to Luxeshare, where every journey is an adventure in luxury and comfort.
								</p>
								<div class="footer-contact">
									<p>info@luxeshare.com.au</p>
									<p>+1 (885) 2563154554</p>
								</div>
							</div>
						</div>
						<div class="col-md-2 col-sm-6">
							<div class="single-footer-widget">
								<h2>about LUXESHARE</h2>
								<ul>
									<li><a href="#">about us</a></li>
									<li><a href="#">career</a></li>
									<li><a href="#">terms <span> of service</span></a></li>
									<li><a href="#">privacy policy</a></li>
								</ul>
							</div>
						</div>
						<div class="col-md-3 col-xs-12">
							<div class="single-footer-widget">
								<h2>top brands</h2>
								<div class="row">
									<div class="col-md-7 col-xs-6">
										<ul>
											<li><a href="#">BMW</a></li>
											<li><a href="#">Lamborghini</a></li>
											<li><a href="#">Camaro</a></li>
											<li><a href="#">Audi</a></li>
											<li><a href="#">Infiniti</a></li>
											<li><a href="#">Nissan</a></li>

										</ul>
									</div>
									<div class="col-md-5 col-xs-6">
										<ul>
											<li><a href="#">Ferrari</a></li>
											<li><a href="#">Porsche</a></li>
											<li><a href="#">Land Rover</a></li>
											<li><a href="#">Aston Martin</a></li>
											<li><a href="#">Mercedes</a></li>
											<li><a href="#">Opel</a></li>

										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-offset-1 col-md-3 col-sm-6">
							<div class="single-footer-widget">
								<h2>news letter</h2>
								<div class="footer-newsletter">
									<p>
										Subscribe to get latest news  update and informations
									</p>
								</div>
								<form id="newsletter-form" method="post" action="{% url 'AboutUs:contact_us' %}">
								    {% csrf_token %}
								    <div class="hm-foot-email">
								        <div class="foot-email-box">
								            <input type="email" class="form-control" name="email" id="email" placeholder="Add Email" required>
								            <input type="text" class="form-control" name="message" id="message" placeholder="Message">
								        </div><!--/.foot-email-box-->
								        <button type="submit" class="foot-email-subscribe">
								            <span><i class="fa fa-arrow-right"></i></span>
								        </button><!--/.foot-email-icon-->
								    </div><!--/.hm-foot-email-->
								</form>

							</div>
						</div>
					</div>
				</div>
				<div class="footer-copyright">
					<div class="row">
						<div class="col-sm-6">
							<p>
								&copy; copyright.designed and developed by <a href="#">LUXESHARE</a>.
							</p><!--/p-->
						</div>
						<div class="col-sm-6">
							<div class="footer-social">
								<a href="#"><i class="fa fa-facebook"></i></a>	
								<a href="#"><i class="fa fa-instagram"></i></a>
								<a href="#"><i class="fa fa-linkedin"></i></a>
								<a href="#"><i class="fa fa-pinterest-p"></i></a>
								<a href="#"><i class="fa fa-behance"></i></a>	
							</div>
						</div>
					</div>
				</div><!--/.footer-copyright-->
			</div><!--/.container-->

			<div id="scroll-Top">
				<div class="return-to-top">
					<i class="fa fa-angle-up " id="scroll-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true"></i>
				</div>
				
			</div><!--/.scroll-Top-->
			
        </footer><!--/.contact-->
		<!--contact end-->


		
		<!-- Include all js compiled plugins (below), or include individual files as needed -->
	

		<script src="{% static 'assets/js/jquery.js' %}"></script>
        
        <!--modernizr.min.js-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
		
		<!--bootstrap.min.js-->
        <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
		
		<!-- bootsnav js -->
		<script src="{% static 'assets/js/bootsnav.js' %}"></script>

		<!--owl.carousel.js-->
        <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

        <!--Custom JS-->
        <script src="{% static 'assets/js/custom.js' %}"></script>
        <script type="text/javascript" src="{% static 'assets/js/login.js' %}"></script>
    </body>
	
</html>