{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Title Here</title>
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <!-- Include any additional CSS here -->

    {% include 'partials/header.html' %}
</head>

<body>
    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

    <!-- welcome-hero start -->
    <section id="home" class="welcome-hero">
        <!-- top-area Start -->
        <div class="top-area">
            <div class="header-area">
                <!-- Start Navigation -->
                <nav class="navbar navbar-default bootsnav navbar-sticky navbar-scrollspy" data-minus-value-desktop="70" data-minus-value-mobile="55" data-speed="1000">
                    <div class="container">
                        <!-- Start Header Navigation -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                                <i class="fa fa-bars"></i>
                            </button>
                              <a class="navbar-brand" href="{% url 'Car:index' %}">LUXESHARE<span></span></a>
                        </div><!--/.navbar-header-->
                        <!-- End Header Navigation -->
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse menu-ui-design" id="navbar-menu">
                            <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                                <li class=" scroll active"><a href="#home">home</a></li>
                                <li class="scroll"><a href="#service">Bookings</a></li>
                                <li><a href="{% url 'Car:car_lists' %}">All cars</a></li>
                                <li class="scroll"><a href="{% url 'Car:index' %}">new cars</a></li>
                                <li class="scroll"><a href="#brand">brands</a></li>
                                <li class="scroll"><a href="#contact">contact</a></li>
                            </ul><!--/.nav -->
                        </div><!-- /.navbar-collapse -->
                    </div><!--/.container-->
                </nav><!--/nav-->
                <!-- End Navigation -->
            </div><!--/.header-area-->
            <div class="clearfix"></div>
        </div><!-- /.top-area-->
        <!-- top-area End -->

        <div class="container">
            <div class="welcome-hero-txt">
                    <h2>Luxeshare: Redefining the Road Experience

</h2>
                    <p>
                        Welcome to Luxeshare, where every journey is an adventure in luxury and comfort.
                    </p>
                    <button class="welcome-btn" onclick="window.location.href='#contact'">contact us</button>
                </div>
        </div>

        <div class="container">
            <div class="row">
              
            </div>
        </div>

    </section><!--/.welcome-hero-->
    <!-- welcome-hero end -->

    <!-- service start -->
    <section id="service" class="service">
        <div class="container">
            <div class="service-content">
                <div class="row">
                    {% if data %}
                        {% for booking_data in data %}
                            <div class="col-md-4 col-sm-6">
                                <div class="single-service-item">
                                    <!-- Model card -->
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">Model:{{ booking_data.vehicle.model }}</h5>
                                            <p class="card-text">
                                                Hourly rate: {{ booking_data.hourly_rate }} <br>
                                                Color: {{ booking_data.vehicle.color }} <br>
                                                Booked date:{{booking_data.start_time}}<br>
                                                Booking end date:{{booking_data.end_time}}<br>
                                                Total cost:${{booking_data.total_cost}}<br>
                                            </p>
                                            <div class="image-container">
                                                <img src="{{booking_data.vehicle.image.url}}" alt="{{ booking_data.model }}" class="img-fluid">
                                            </div>
                                            <br>
                                            <button class="btn btn-primary mt-3" data-toggle="modal" data-target="#cancelBookingModal{{ booking_data.id }}">Cancel booking</button>
                                            <a href="{% url 'Car:index' %}" class="btn btn-danger">index</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="cancelBookingModal{{ booking_data.id }}" tabindex="-1" role="dialog" aria-labelledby="cancelBookingModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="cancelBookingModalLabel">Cancel Booking</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Are you sure you want to cancel this booking?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <a href="{% url 'Booking:remove_booking' booking_data.id %}" class="btn btn-danger">Yes, Cancel Booking</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="col-12 text-center">
                            <div class="alert alert-warning mt-4">
                                <h4>No bookings available</h4>
                                <p>You have no current bookings. Why not browse our available cars and make your next luxury booking today?</p>
                                <a href="{% url 'Car:car_lists' %}" class="btn btn-primary">Browse Cars</a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div><!--/.container-->
    </section><!--/.service-->
    <!-- service end -->

    <!-- blog start -->
    <section id="blog" class="blog"></section><!--/.blog-->
    <!-- blog end -->

    <!-- contact start -->
    <footer id="contact"  class="contact">
        <!-- Footer content -->
    </footer><!--/.contact-->
    <!-- contact end -->

    <!-- Include all js compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'assets/js/jquery.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/bootsnav.js' %}"></script>
    <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>
    {% include 'partials/footer.html' %}
</body>

</html>
