{% extends 'base.html' %}
{% load static %}
{% block content %}
    <body>
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
    
        <!--welcome-hero start -->
        <section id="home" class="welcome-hero">

            <!-- top-area Start -->
            <div class="top-area">
                <div class="header-area">
                    <!-- Start Navigation -->
                    <nav class="navbar navbar-default bootsnav  navbar-sticky navbar-scrollspy"  data-minus-value-desktop="70" data-minus-value-mobile="55" data-speed="1000">

                        <div class="container">

                            <!-- Start Header Navigation -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                                    <i class="fa fa-bars"></i>
                                </button>
                                <a class="navbar-brand" href="{% url 'Car:index' %}">LUXESHARE<span></span></a>

                            </div><!--/.navbar-header-->
                            <!-- End Header Navigation -->

                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse menu-ui-design" id="navbar-menu">
                                <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                                    <li class=" scroll"><a href="#home">home</a></li>
                                    
                                    <li class="scroll active"><a href="#featured-cars">All cars</a></li>
                                    
                                    <li class="scroll"><a href="#contact">contact</a></li>
                                    {% if not user.is_authenticated %}
                                    <li><a href="{% url 'Users:login' %}">login</a></li>
                                    {% endif %}
                                </ul><!--/.nav -->
                            </div><!-- /.navbar-collapse -->
                        </div><!--/.container-->
                    </nav><!--/nav-->
                    <!-- End Navigation -->
                </div><!--/.header-area-->
                <div class="clearfix"></div>

            </div><!-- /.top-area-->
            <!-- top-area End -->

            <div class="container">
                <div class="welcome-hero-txt">
                    <h2>Luxeshare: Redefining the Road Experience</h2>
                    <p>
                      Welcome to Luxeshare, where every journey is an adventure in luxury and comfort.
                    </p>
                    <button class="welcome-btn" onclick="window.location.href='#'">contact us</button>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="model-search-content">
                            <div class="row">
                                <div class="col-md-offset-1 col-md-2 col-sm-12">
                                    <div class="single-model-search">
                                        <h2>select year</h2>
                                        <div class="model-select-icon">
                                            <select class="form-control">

                                                <option value="default">year</option><!-- /.option-->

                                                <option value="2018">2018</option><!-- /.option-->

                                                <option value="2017">2017</option><!-- /.option-->
                                                <option value="2016">2016</option><!-- /.option-->

                                            </select><!-- /.select-->
                                        </div><!-- /.model-select-icon -->
                                    </div>
                                    <div class="single-model-search">
                                        <h2>body style</h2>
                                        <div class="model-select-icon">
                                            <select class="form-control">

                                                <option value="default">style</option><!-- /.option-->

                                                <option value="sedan">sedan</option><!-- /.option-->

                                                <option value="van">van</option><!-- /.option-->
                                                <option value="roadster">roadster</option><!-- /.option-->

                                            </select><!-- /.select-->
                                        </div><!-- /.model-select-icon -->
                                    </div>
                                </div>
                                <div class="col-md-offset-1 col-md-2 col-sm-12">
                                    <div class="single-model-search">
                                        <h2>select make</h2>
                                        <div class="model-select-icon">
                                            <select class="form-control">

                                                <option value="default">make</option><!-- /.option-->

                                                <option value="toyota">toyota</option><!-- /.option-->

                                                <option value="holden">holden</option><!-- /.option-->
                                                <option value="maecedes-benz">maecedes-benz.</option><!-- /.option-->

                                            </select><!-- /.select-->
                                        </div><!-- /.model-select-icon -->
                                    </div>
                                    <div class="single-model-search">
                                        <h2>car condition</h2>
                                        <div class="model-select-icon">
                                            <select class="form-control">

                                                <option value="default">condition</option><!-- /.option-->

                                                <option value="something">something</option><!-- /.option-->

                                                <option value="something">something</option><!-- /.option-->
                                                <option value="something">something</option><!-- /.option-->

                                            </select><!-- /.select-->
                                        </div><!-- /.model-select-icon -->
                                    </div>
                                </div>
                                <div class="col-md-offset-1 col-md-2 col-sm-12">
                                    <div class="single-model-search">
                                        <h2>select model</h2>
                                        <div class="model-select-icon">
                                            <select class="form-control">

                                                <option value="default">model</option><!-- /.option-->

                                                <option value="kia-rio">kia-rio</option><!-- /.option-->

                                                <option value="mitsubishi">mitsubishi</option><!-- /.option-->
                                                <option value="ford">ford</option><!-- /.option-->

                                            </select><!-- /.select-->
                                        </div><!-- /.model-select-icon -->
                                    </div>
                                    <div class="single-model-search">
                                        <h2>select price</h2>
                                        <div class="model-select-icon">
                                            <select class="form-control">

                                                <option value="default">price</option><!-- /.option-->

                                                <option value="$0.00">$0.00</option><!-- /.option-->

                                                <option value="$0.00">$0.00</option><!-- /.option-->
                                                <option value="$0.00">$0.00</option><!-- /.option-->

                                            </select><!-- /.select-->
                                        </div><!-- /.model-select-icon -->
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-12">
                                    <div class="single-model-search text-center">
                                        <button class="welcome-btn model-search-btn" onclick="window.location.href='#'">
                                            search
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section><!--/.welcome-hero-->
        <!--welcome-hero end -->

    
        <!--service end-->

     

        <!--featured-cars start -->
        <section id="featured-cars" class="featured-cars">
            <div class="container">
                <div class="section-header">
                    <p>checkout <span>the</span> featured cars</p>
                    <h2>featured cars</h2>
                </div><!--/.section-header-->
                <div class="featured-cars-content">
                    <div class="row">
                        {% for featured_car in data %}
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            
                            <div class="single-featured-cars">
                                <div class="featured-img-box" style="height: 200px; margin-bottom: 100px; margin-top: 20px;">
                                
                                    <div class="featured-cars-img">

                                        <img src="{{featured_car.image.url}}" alt="cars" style="height: 200px;">
                                    </div>
                                    
                                    <div class="featured-model-info">
                                        <p>
                                            model: {{featured_car.model}}
                                            <span class="featured-mi-span">{{featured_car.color}}</span> 
                                            <span class="featured-hp-span"> {{featured_car.year}}</span>
                                             {{featured_car.transmission}}
                                        </p>
                                    </div>
                                </div>
                                <div class="featured-cars-txt">
                                    <h2><a href="#">{{featured_car.model}} {{featured_car.color}}</a></h2>
                                    <h3>$${{featured_car.hourly_rate}}</h3>
                                    <p>
                                        {{featured_car.about}} 
                                    </p>
                                </div>
                            
                                    <div class="col-md-6">
                                 <a href="{% url 'Booking:book_car' featured_car.id %}" class="btn btn-danger">Book Now</a>
                                 </div>
                            </div>
                            
                        </div>

                        {% endfor %}
                    </div>
                    
                </div>
            </div><!--/.container-->

        </section><!--/.featured-cars-->
        <!--featured-cars end -->



    
        <!--brand end -->

        <!--blog start -->
        <section id="blog" class="blog"></section><!--/.blog-->
        <!--blog end -->
         <script>
        // Wait for the document to be fully loaded
        document.addEventListener("DOMContentLoaded", function() {
            // Get the "featured cars" section
            var featuredCarsSection = document.getElementById('featured-cars');
            
            // If the "featured cars" section exists, scroll to it
            if (featuredCarsSection) {
                featuredCarsSection.scrollIntoView({ behavior: 'smooth' });
            }
        });
    </script>

    {% endblock %}